.count {
  margin-top: 10px;
}

.gridContainer {
  margin-top: 20px;
  width: 100%;
  background-color: #ecececcc;
  padding: 10px;
  padding-right: 0;
}

.gridLayout {
  height: 55vh;
  overflow-y: scroll;
  display: grid;
  /* grid-template-columns: repeat(9, 8vh); */
  grid-template-columns: repeat(auto-fill, minmax(8vh, 1fr));
  grid-gap: 10px;
}

.gridItem {
  display: flex;
  width: 8vh;
  height: 8vh;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.gridItem {
  display: flex;
  width: 8vh;
  height: 8vh;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
